<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="w-full">
    <form nz-form [formGroup]="filterForm">
      <nz-form-item>
        <nz-form-control>
          <nz-input-group [nzSuffix]="suffixIconSearch" class="w-full">
            <input
              type="text"
              formControlName="searchTerms"
              nz-input
              placeholder="Search group"
              (keydown)="handleSearchChange($event)"
            />
          </nz-input-group>
          <ng-template #suffixIconSearch>
            <span nz-icon nzType="search"></span>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</nz-dropdown-menu>

<nz-table
  [nzData]="listGroups.pageItemList"
  nzFrontPagination="false"
  nzShowPagination="true"
  nzShowSizeChanger="true"
  (nzPageIndexChange)="handlePageChange($event)"
  [nzTotal]="listGroups.pageCount * searchParams.pageSize"
  [nzPageIndex]="searchParams.page"
  (nzPageSizeChange)="handlePageSizeChange($event)"
  class="bg-white"
  [nzPageSize]="searchParams.pageSize"
  [nzPageSizeOptions]="listPagesizeOption"
  [nzLoading]="isLoading"
>
  <thead>
    <tr>
      <th
        [nzSelections]="listOfSelection"
        [(nzChecked)]="checked"
        [nzIndeterminate]="indeterminate"
        (nzCheckedChange)="onAllChecked($event)"
      ></th>
      <th></th>
      <th nzCustomFilter>
        Name
        <nz-filter-trigger
          [nzVisible]="false"
          [nzActive]="true"
          [nzDropdownMenu]="menu"
        >
          <span nz-icon nzType="search"></span>
        </nz-filter-trigger>
      </th>
      <th>Approved Configuration Version</th>
      <th>Progress</th>
      <th>Device Formation</th>
      <th>Devices</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let group of listGroups.pageItemList">
      <td
        [nzChecked]="setOfCheckedId.has(group.otapId)"
        (nzCheckedChange)="onItemChecked(group.otapId, $event)"
      ></td>
      <td>
        <ng-template *ngIf="group.devicesWithDuplicateValues != 0">
          <span
            class="w-6 h-6 text-blue-500"
            nzTooltipTitle="Group contains {{
              group.devicesWithDuplicateValues
            }} devices with duplicate values"
            [nzTooltipPlacement]="['topLeft', 'leftTop']"
            nz-tooltip
            nz-icon
            nzType="warning"
            nzTheme="outline"
          ></span>
        </ng-template>
        <ng-template *ngIf="group.devicesWithEmptyValues != 0">
          <span
            class="w-6 h-6 text-orange-700"
            nzTooltipTitle="Group contains {{
              group.devicesWithEmptyValues
            }} devices with empty values"
            [nzTooltipPlacement]="['topLeft', 'leftTop']"
            nz-tooltip
            nz-icon
            nzType="question-circle"
            nzTheme="outline"
          ></span>
        </ng-template>
        <ng-template *ngIf="group.hasGroupConfigurationError">
          <span
            class="w-6 h-6 text-red-600"
            nzTooltipTitle="Failed to generate group configuration"
            [nzTooltipPlacement]="['topLeft', 'leftTop']"
            nz-tooltip
            nz-icon
            nzType="close-circle"
            nzTheme="outline"
          ></span>
        </ng-template>
        <ng-template *ngIf="group.pendingNewDevices">
            <span
              class="w-6 h-6 text-cyan-600"
              nzTooltipTitle="Group contains {{group.pendingNewDevices}} changes pending approval"
              [nzTooltipPlacement]="['topLeft', 'leftTop']"
              nz-tooltip
              nz-icon
              nzType="check-circle"
              nzTheme="outline"
            ></span>
        </ng-template>
      </td>
      <td>{{ group.name }}</td>
      <td>
        <nz-badge
          *ngIf="group.desiredConfigurationId"
          nzStandalone
          [nzCount]="group.desiredConfigurationId"
        ></nz-badge>
        {{ group.desiredConfigurationDesc ?? "None" }}
      </td>
      <td>
        <nz-progress [nzPercent]="group.progressBarPercent1"></nz-progress>
      </td>
      <td>{{ group.deviceFormationDescription }}</td>
      <td>
        <a class="text-blue-600" routerLink="/">
          {{ group.deviceCount }}
        </a>
      </td>
    </tr>
  </tbody>
</nz-table>
